@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    .calc{
        background-color: #212121;
        color: #ffff;
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        width: 16rem;
        padding: 10px;
        border-radius: 15px;
        overflow: auto;
        .result{
            display: flex;
            flex-direction: column;
            align-items: end;
            padding: 15px;
            height: 3.5rem;
            h2{
                margin: 0;
                font-weight: bold;
            }
            h4{
                margin: 0 0 10px 0;
                font-size: 12px;
                color: #b1b1b1;
            }
        }
        .top-buttons{
            display: grid;
            grid-template-columns: 50% 50%;
            button{
                background-color: #9c9c9c;
                border: none;
                height: 3rem;
                margin: 2px;
                border-radius: 5px;
                font-size: 17px;
                cursor: pointer;
            }
            .number{
                background-color: #cdcdcd;
            }
        }
        .digits{
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            button{
                background-color: #9c9c9c;
                border: none;
                height: 3rem;
                margin: 2px;
                border-radius: 5px;
                cursor: pointer;
            }
            .number{
                background-color: #b3b3b3;
                font-size: 17px;
            }
            .equal{
                background: #7171cb;
                color: #fff;
            }
        }
    }
}